# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Database
*.db
*.sqlite3

# IDE
.idea/
.vscode/
